/* board 상세보기 페이지 */

.search {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0 10px 0;
    position: relative;

    #searchInput {
        width: 100%;
        font-size: 16px;
        padding: 5px 40px 5px 15px;
        border-radius: 20px;
        border: none;
    }

    #searchBtn {
        position: absolute;
        right: 10px;
        font-size: 16px;
        border-radius: 20px;
        padding: 3px 5px 3px 5px;
    }

    #searchBtn:hover {
        background: var(--board-hover-bg-color);
    }
}

.postItem {
    .title {
        width: 100%;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .content {
        display:-webkit-box;
        -webkit-line-clamp:1;
        -webkit-box-orient:vertical;
        overflow:hidden;
        text-overflow:ellipsis;
    }
}