.header {
    display: flex;
    flex-direction: row;

    .title {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .back {
        cursor: pointer;
        width: 10%;
        font-size: 20px;
        background: inherit;
        border-radius: 10px;
    }

    .back:hover {
        background: #5d5d5d;
    }

    .hidden {
        visibility: hidden;
    }
}