/* 전역 변수 설정 */
:root {
    --board-hover-bg-color: rgba(210, 255, 220, 0.2);
}

/* 기본 Tag 속성 */
button {
    background: inherit;
    border: none;
    cursor: pointer;
}

/* 공통으로 쓰이는 class */
.header {
    display: flex;
    flex-direction: row;
    margin: 10px 0 10px 0;

    .title {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .back {
        width: 30%;
        font-size: 20px;

        .backBtn {
            padding: 3px;
            border-radius: 10px;
        }

        .backBtn:hover {
            background: var(--board-hover-bg-color);
        }
    }
}

.breadcrumbs {
    font-size: 14px;
    font-weight: bold;
    margin: 15px 0 15px 0;

    a:hover {
        text-decoration: underline;
    }

    .dot {
        margin: 0 10px 0 10px;
    }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    min-width: 320px;
    /* 서윤 */
    background: #ffffff;
    color: #ffffff;
    scroll-padding-top: 50px;
}
button {
    outline: 0;
    border: 0;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
* {
    box-sizing: border-box;
    font-family: Manrope, Pretendard,
    '-apple-system,BlinkMacSystemFont,system-ui,Roboto,"Noto Sans KR",sans-serif';
}
a {
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
}
.promise-toast-root {
    padding: 0;
}
.promise-toast-root > div {
    margin: 0;
}
[data-theme="primary"] {
    --mainColor: #98ceff;
    --mainLightColor: #d0e5ff;
    --mainDarkColor: #61a3f3;
    --mainDarkenColor: #0c74f4;
    --mainDarkestColor: #0c1b2e;
}
[data-theme="secondary"] {
    --mainColor: #ffa4a4;
    --mainLightColor: #ffdede;
    --mainDarkColor: #ff7575;
    --mainDarkenColor: #ff1e1e;
    --mainDarkestColor: #6f1818;
}
[data-theme="grey"] {
    --mainColor: #8890a8;
    --mainLightColor: #ebebeb;
    --mainDarkColor: #5b647c;
}
[data-theme="recruit"] {
    --mainColor: #86fff8;
    --mainLightColor: #d0fefb;
    --mainDarkColor: #1cd2c8;
}
[data-theme="success"] {
    --mainColor: #43e26b;
    --mainLightColor: #ddffe6;
    --mainDarkColor: #028e25;
}
[data-theme="warning"] {
    --mainColor: #ffbf69;
    --mainLightColor: #ffe0b2;
    --mainDarkColor: #ff9911;
}
[data-theme="error"] {
    --mainColor: #ff5c5c;
    --mainLightColor: #ffd1cf;
    --mainDarkColor: #c60b00;
}
[data-theme="white"] {
    --mainColor: #ffffff;
    --mainLightColor: #ffffff;
    --mainDarkColor: #ebebeb;
    --mainDarkenColor: #777777;
    --mainDarkestColor: #292929;
}
[data-theme="black"] {
    --mainColor: #292929;
    --mainLightColor: #3f3f3f;
    --mainDarkColor: #292929;
    --mainDarkenColor: #000000;
    --mainDarkestColor: #000000;
}
:root {
    --mainLayoutPaddingX: 25px;
}
.css-hthzsn {
    overflow: hidden;
    position: relative;
    min-width: 330px;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    padding: 24px;
    border-radius: 20px;
    -webkit-transition: -webkit-transform 200ms;
    transition: transform 200ms;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.03em;
    font-weight: 700;
    font-family: Manrope, Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, "Noto Sans KR", sans-serif;
}
.css-hthzsn:hover,
.css-hthzsn:focus-visible {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
}
.css-hthzsn:active {
    -webkit-transform: scale(0.99);
    -moz-transform: scale(0.99);
    -ms-transform: scale(0.99);
    transform: scale(0.99);
}
.main-container {
    min-width: 350px;
    max-width: 576px;
    min-height: 100vh;
    background-color: #24a676;
    /*background-color: #2b2f2b;*/
    margin: 0 auto;
    padding: 0 var(--mainLayoutPaddingX);
    box-shadow: 20px 20px 40px #f5ffed, -20px -20px 40px #f5ffed;
    overflow: hidden;
    font-family: Manrope, Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, "Noto Sans KR", sans-serif;
}

.main-title {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.main-content {
    padding: 90px 0;
    min-height: max(600px, calc(100vh));
}

.css-9hr1x0 {
    -webkit-transition: opacity 200ms;
    transition: opacity 200ms;
    padding: 0 25px;
    z-index: 10;
    height: 50px;
    min-width: 350px;
    max-width: 576px;
    width: 100%;
    position: fixed;
    -webkit-transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    left: 50%;
    top: 0;
    margin-left: calc(-1 * var(--removed-body-scroll-bar-size) / 2);
    border-bottom: 1px solid #5d5d5d;
}
@media screen and (max-width: 350px) {
    .css-9hr1x0 {
        left: 0;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        transform: none;
    }
}
.navigation-bar {
    height: 50px;
    background-color: #d2ffdd;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: opacity 200ms;
    transition: opacity 200ms;
    padding: 0 25px;
    z-index: 10;
    height: 50px;
    min-width: 350px;
    max-width: 576px;
    width: 100%;
    position: fixed;
    -webkit-transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    left: 50%;
    top: 0;
    margin-left: calc(-1 * var(--removed-body-scroll-bar-size) / 2);
    border-bottom: 1px solid #5d5d5d;
}
@media screen and (max-width: 350px) {
    .navigation-bar {
        left: 0;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        transform: none;
    }
}

.nav-item {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    cursor: pointer;
}

.nav-icon {
    width: auto;
    height: 20px;
}

.button-group {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.button-container {
    min-width: 32px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 4px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.round-button {
    padding: 0;
    background-color: inherit;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: background-color 200ms, color 200ms;
    transition: background-color 200ms, color 200ms;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.round-button [data-icon] {
    color: var(--mainDarkColor);
}
.round-button:focus-visible,
.round-button:hover {
    background-color: color-mix(in srgb, var(--mainColor) 30%, transparent);
}
.round-button:active {
    background-color: color-mix(in srgb, var(--mainColor) 50%, transparent);
}
.round-button:disabled {
    pointer-events: none;
}
.round-button:disabled [data-icon] {
    color: color-mix(in srgb, var(--mainColor) 50%, transparent);
}

.column-container {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.fixed-footer {
    width: 100%;
    min-width: 350px;
    max-width: 576px;
    z-index: 1;
    position: fixed;
    -webkit-transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    left: 50%;
    bottom: 0;
    margin-left: calc(-1 * var(--removed-body-scroll-bar-size) / 2);
    -webkit-transition: opacity 200ms, -webkit-transform 200ms;
    transition: opacity 200ms, transform 200ms;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    box-shadow: 0px -7px 18px rgba(0, 0, 0, 0.05);
    padding: 0 20px;
    background: #ffffff;
    color: #000000;
    z-index: 10;
}
@media screen and (max-width: 350px) {
    .fixed-footer {
        left: 0;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        transform: none;
    }
}
.fixed-footer:hover,
.fixed-footer:focus-visible {
    -webkit-transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
}

.css-1ht7xdm {
    width: 100%;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.css-w486t0 {
    width: 25%;
    height: 64px;
    -webkit-transition: color 200ms;
    transition: color 200ms;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 4px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.css-w486t0:hover {
    color: #61a3f3;
}

.css-o2r7xg {
    font-size: 24px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.css-1ays6rf {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.03em;
    font-weight: 700;
}

.css-15i7ei3 {
    width: 25%;
    height: 64px;
    -webkit-transition: color 200ms;
    transition: color 200ms;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 4px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #0c74f4;
}
.css-15i7ei3:hover {
    color: #61a3f3;
}
.css-15i7ei3:hover {
    color: #0c74f4;
}

.css-18hynn3 {
    width: 25%;
    height: 64px;
    -webkit-transition: color 200ms;
    transition: color 200ms;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 4px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: color-mix(in srgb, #292929 50%, transparent);
    pointer-events: none;
}
.css-18hynn3:hover {
    color: #61a3f3;
}

.css-1hgree4 {
    margin-bottom: 56px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.css-y2gnwz {
    color: #98ceff;
}

.css-mmr5sl {
    color: #000000;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 0 10px;
    margin: 0;
    -webkit-transition: color 200ms, background-color 200ms, border-color 200ms,
    outline 200ms;
    transition: color 200ms, background-color 200ms, border-color 200ms,
    outline 200ms;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.03em;
    font-weight: 700;
    font-family: Manrope, Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, "Noto Sans KR", sans-serif;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 44px;
    background-color: transparent;
    color: #ffffff;
    color: #98ceff;
}
.css-mmr5sl:disabled,
.css-mmr5sl[disabled] {
    pointer-events: none;
}
.css-mmr5sl:hover {
    color: var(--mainColor);
}
.css-mmr5sl:focus-visible {
    color: var(--mainLightColor);
}
.css-mmr5sl:active {
    color: var(--mainDarkColor);
}
.css-mmr5sl:disabled,
.css-mmr5sl[disabled] {
    color: #8890a8;
}

.css-3hax7m {
    color: #000000;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 0 10px;
    margin: 0;
    -webkit-transition: color 200ms, background-color 200ms, border-color 200ms,
    outline 200ms;
    transition: color 200ms, background-color 200ms, border-color 200ms,
    outline 200ms;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.03em;
    font-weight: 700;
    font-family: Manrope, Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, "Noto Sans KR", sans-serif;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 44px;
    background-color: transparent;
    color: #ffffff;
    color: #98ceff;
}
.css-3hax7m:disabled,
.css-3hax7m[disabled] {
    pointer-events: none;
}
.css-3hax7m:hover {
    color: var(--mainColor);
}
.css-3hax7m:focus-visible {
    color: var(--mainLightColor);
}
.css-3hax7m:active {
    color: var(--mainDarkColor);
}
.css-3hax7m:disabled,
.css-3hax7m[disabled] {
    color: #8890a8;
}

.css-cwvboc {
    color: #ff7575;
}

.css-o1wy4k {
    color: #000000;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 0 10px;
    margin: 0;
    -webkit-transition: color 200ms, background-color 200ms, border-color 200ms,
    outline 200ms;
    transition: color 200ms, background-color 200ms, border-color 200ms,
    outline 200ms;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.03em;
    font-weight: 700;
    font-family: Manrope, Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, "Noto Sans KR", sans-serif;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 44px;
    background-color: transparent;
    color: #ffffff;
    color: #ff7575;
}
.css-o1wy4k:disabled,
.css-o1wy4k[disabled] {
    pointer-events: none;
}
.css-o1wy4k:hover {
    color: var(--mainColor);
}
.css-o1wy4k:focus-visible {
    color: var(--mainLightColor);
}
.css-o1wy4k:active {
    color: var(--mainDarkColor);
}
.css-o1wy4k:disabled,
.css-o1wy4k[disabled] {
    color: #8890a8;
}

.css-1rdqar8 {
    color: #000000;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 0 10px;
    margin: 0;
    -webkit-transition: color 200ms, background-color 200ms, border-color 200ms,
    outline 200ms;
    transition: color 200ms, background-color 200ms, border-color 200ms,
    outline 200ms;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.03em;
    font-weight: 700;
    font-family: Manrope, Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, "Noto Sans KR", sans-serif;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 44px;
    background-color: transparent;
    color: #ffffff;
    color: #ff7575;
}
.css-1rdqar8:disabled,
.css-1rdqar8[disabled] {
    pointer-events: none;
}
.css-1rdqar8:hover {
    color: var(--mainColor);
}
.css-1rdqar8:focus-visible {
    color: var(--mainLightColor);
}
.css-1rdqar8:active {
    color: var(--mainDarkColor);
}
.css-1rdqar8:disabled,
.css-1rdqar8[disabled] {
    color: #8890a8;
}

.css-65egb5 {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 12px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.css-hthzsn {
    overflow: hidden;
    position: relative;
    min-width: 330px;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    padding: 24px;
    border-radius: 20px;
    -webkit-transition: -webkit-transform 200ms;
    transition: transform 200ms;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.03em;
    font-weight: 700;
    font-family: Manrope, Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, "Noto Sans KR", sans-serif;
}
.css-hthzsn:hover,
.css-hthzsn:focus-visible {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
}
.css-hthzsn:active {
    -webkit-transform: scale(0.99);
    -moz-transform: scale(0.99);
    -ms-transform: scale(0.99);
    transform: scale(0.99);
}

.css-kdssxn {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    font-weight: 700;
}

.css-ftwqip {
    color: #8890a8;
    background-color: #ffffff;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.03em;
    font-weight: 700;
}

.css-1grjlwr {
    position: absolute;
    border-radius: 8px;
    bottom: -8px;
    right: 12px;
}

.hana-footer {
    background-color: #edfff1;
    color: #000000;
    padding: 40px 25px 90px;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Noto Sans KR", sans-serif;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.03em;
    font-weight: 400;
    width: auto;
    margin-left: calc(-1 * var(--mainLayoutPaddingX));
    margin-right: calc(-1 * var(--mainLayoutPaddingX));
}

.css-1wvv5q9 {
    margin-bottom: 36px;
}

.css-1icvysg {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.css-uewl2b {
    margin-bottom: 20px;
}

.css-1vfruvg {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.03em;
    font-weight: 700;
}
.css-1vfruvg:hover,
.css-1vfruvg:focus-visible {
    color: #ffbf69;
}
.css-1vfruvg:active {
    color: #ff9911;
}

.css-1etjkub:hover,
.css-1etjkub:focus-visible {
    color: #ffbf69;
}
.css-1etjkub:active {
    color: #ff9911;
}

@keyframes go2264125279 {
    from {
        transform: scale(0) rotate(45deg);
        opacity: 0;
    }
    to {
        transform: scale(1) rotate(45deg);
        opacity: 1;
    }
}
@keyframes go3020080000 {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes go463499852 {
    from {
        transform: scale(0) rotate(90deg);
        opacity: 0;
    }
    to {
        transform: scale(1) rotate(90deg);
        opacity: 1;
    }
}
@keyframes go1268368563 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes go1310225428 {
    from {
        transform: scale(0) rotate(45deg);
        opacity: 0;
    }
    to {
        transform: scale(1) rotate(45deg);
        opacity: 1;
    }
}
@keyframes go651618207 {
    0% {
        height: 0;
        width: 0;
        opacity: 0;
    }
    40% {
        height: 0;
        width: 6px;
        opacity: 1;
    }
    100% {
        opacity: 1;
        height: 10px;
    }
}
@keyframes go901347462 {
    from {
        transform: scale(0.6);
        opacity: 0.4;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
.go4109123758 {
    z-index: 9999;
}
.go4109123758 > * {
    pointer-events: auto;
}

.transform-component-module_wrapper__SPB86 {
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    margin: 0;
    padding: 0;
}
.transform-component-module_content__FBWxo {
    display: flex;
    flex-wrap: wrap;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
    transform-origin: 0% 0%;
}
.transform-component-module_content__FBWxo img {
    pointer-events: none;
}

#nprogress {
    pointer-events: none;
}
#nprogress .bar {
    background: #ff9911;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
}
#nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #ff9911, 0 0 5px #ff9911;
    opacity: 1;
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}
#nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px;
}
#nprogress .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    border: solid 2px transparent;
    border-top-color: #ff9911;
    border-left-color: #ff9911;
    border-radius: 50%;
    -webkit-animation: nprogresss-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
}
.nprogress-custom-parent {
    overflow: hidden;
    position: relative;
}
.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
    position: absolute;
}
@-webkit-keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes nprogress-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
