<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hana.app.repository.LikedCommentRepository">

    <select id="selectOne" parameterType="Integer" resultType="likedCommentDto">
        SELECT *
        FROM liked_comment
        WHERE liked_comment_id=#{likedCommentId}
    </select>

    <select id="select" resultType="likedCommentDto">
        SELECT *
        FROM liked_comment
    </select>

    <insert id="insert" parameterType="likedCommentDto">
        INSERT INTO liked_comment (comment_id, user_id, create_date)
        VALUES (#{commentId}, #{userId}, NOW());
    </insert>

    <delete id="delete" parameterType="Integer">
        DELETE FROM liked_comment WHERE liked_comment_id=#{likedCommentId}
    </delete>


    <select id="isLikedCommentByUserId" parameterType="Integer" resultType="likedCommentDto">
        SELECT *
        FROM liked_comment
        WHERE comment_id=#{commentId} AND user_id=#{userId}
    </select>
</mapper>