<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hana.app.repository.ReportCategoryRepository">

    <select id="selectOne" parameterType="Integer" resultType="reportCategoryDto">
        SELECT *
        FROM report_category
        WHERE report_category_id=#{reportCategoryId}
    </select>

    <select id="select" resultType="reportCategoryDto">
        SELECT *
        FROM report_category
    </select>

</mapper>