/* Dropdown 버튼 스타일 */
.dropbtn {
    background-color: #3498db;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown 컨테이너 스타일 (드롭다운 버튼 옆에 위치) */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown 내용 (기본적으로 숨겨져 있음) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0; /* 오른쪽 정렬 */
}

/* Dropdown 내용 링크 스타일 */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Dropdown 내용 링크 hover 스타일 */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Dropdown 보이기 (클릭하면 보이게 함) */
.show {
    display: block;
}
